body {
    background-color: pink;
}

#title {
    text-align: center;
    color: darkviolet;
    font-size: 55px;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

#index-list {
    list-style-type: square;
    margin-left: 55px;
    line-height: 1.5;
    color: darkred;
    font-size: 30px;
}

.recipe-link {
    font-size: 30px;
}

.recipe-link a {
    color:aliceblue;
}

.recipe-link a:hover {
    color:rgb(255, 255, 222);
}

.recipe-name {
    text-align: center;
}

.recipe-card {
    padding: 40px;
    background-color: beige;
}

.recipe-card > img {
    width: 300px;
    margin: auto;
    display: block;
}